/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Fredoka One", cursive;
  color: rgb(30 41 59);
}
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: rgb(241 245 249);
}

body::-webkit-scrollbar-thumb {
  background: rgb(30 41 59);
}

body::-webkit-scrollbar-thumb:hover {
  background: rgb(51 65 85);
}
