.main {
  height: 5rem;
  background-color: var(--clr-grey-1);
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-weight: bold;
}
.logo span {
  color: var(--clr-primary-5);
}
.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navLinks li {
  margin: 0px 0.5rem;
}
.navLinks li a {
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  padding: 0.5rem;
  color: var(--clr-grey-8);
  font-size: 1rem;
  transition: all 0.4s;
}
.navLinks li:hover {
  border-bottom: 1px solid var(--clr-primary-2);
}
@media screen and (min-width: 576px) {
  .logo {
    font-size: 1.5rem;
  }
}
