.main {
  position: relative;
  /* background-image: url(http://placeimg.com/640/360/any);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  text-align: start;
  /* margin: 4rem; */
}
.text {
  width: 95%;
  margin: 4rem auto;
}
.main h1 {
  margin: 0rem auto;
  line-height: 1.25;
}
.main h1 span {
  color: var(--clr-primary-5);
}
.text h4 {
  max-width: 90%;
  margin: 0;
  line-height: 1.5;
}
.text h4 strong {
  color: var(--clr-primary-6);
}
/* game code */
/* .Player {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  transform-origin: 50%;
} */

@media screen and (min-width: 576px) {
  .main {
    text-align: center;
  }
  .text h4 {
    margin: auto;
  }
}
