.card {
  display: flex;
  margin: 1rem auto;
  flex-direction: column-reverse;
  /* max-width: 50rem; */
}
.cardContent {
  display: flex;
  flex-direction: column;
}
.cardHead {
  margin: 0.5rem 0.25rem;
  color: var(--clr-primary-5);
}
.cardFooter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: auto;
}
.cardFooter a {
  margin-left: auto;
  margin-right: 0.75rem;
  color: var(--clr-primary-7);
}
.cardFooter span {
  background-color: var(--clr-grey-4);
  padding: 0 0.25rem;
  border-radius: 0.25rem;
  margin: 0 0.25rem;
}
.cardImg {
}
@media screen and (min-width: 768px) {
  .card {
    flex-direction: row;
  }
  .cardContent {
    max-width: 60%;
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }
  .cardbody {
    width: 75%;
  }
}
